{% extends "base.html" %}
{% block page_title %}Documentation{% endblock %}

{% block content %}
    <p>Documentation of this website as a project.</p>
    <P>To set Flask server in development envrionment, enter <code>export FLASK_ENV=development</code> in terminal.
    </P>
    <p>Created a Database in MySQL called WDS, and created a table called user to store and retrive user log-in information. Connect MySQL to flask using <code>flask-mysql</code> and credentials specific in the app.py file when initializing app. 
    </p>

{% endblock %}
