{% extends "base.html" %}
{% block page_title %} We Do Secure Insurance {% endblock %}

{% block content %}
    <p> Your Payments</p>

    {% for pay in showpay %}
        <p>


            <P>Payment Number: {{ pay.number }}<br> Payment date: {{ pay.date }}<br> Payment Method: {{ pay.method }}
                <br> Payment Amount: ${{ pay.amount }}<br> Invoice Number: {{ pay.invno }}
            </p>
        </p>
    {% endfor %}

    <p> <a href="/showInvoice">Return </a> to invoice page.</p>

{% endblock %}
