{% extends "base.html" %}
{% block page_title %}To-dos for the project{% endblock %}

{% block content %}
    <p>This is to-do list for the project.</p>
    <ul>
        <li>Add database connection</li>
        <li>Add login function</li>
        <li>Add sign up function</li>
        <li>Add security features (SQL injection prevention)</li>
        <li>Add user group</li>
        <li>Add employee group</li>
        <li>Add user access for their own data</li>
        <li>Add employee access for all user data after login</li>
        <li>Add session</li>
    </ul>
    <p>TODO</p>
{% endblock %}
