{% extends "base.html" %}

{% block page_title %}We Do Secure Insurance {% endblock %}

{% block content %}
    <body>
        <h1 class="h3 mb-3 font-weight-normal">Please enter your information:</h1>

        <form id="user_info_form">

            <div class="row">
                <div class="col">First Name
                  <input type="text" class="form-control" name="firstname" id="firstname">
                </div>
                <div class="col">Last Name
                  <input type="text" class="form-control" name="lastname" id="lastname">
                </div>
            </div>

            <div>
                <label for="gender">Gender</label>
                <select class="form-control" name="gender" id="gender">
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                  <option value="NULL">Perfer Not To Answer</option>
                </select>
            </div>

            <div>
                <label for="maritality">Marital Status</label>
                <select class="form-control" name="maritality" id="maritality">
                  <option value="S">Single</option>
                  <option value="M">Married</option>
                  <option value="W">Widow</option>
                </select>
            </div>

            <div>
                <label for="instype">Insurance Type</label>
                <select class="form-control" name="instype" id="instype">
                  <option value="A">For my car</option>
                  <option value="H">For my home</option>
                  <option value="B">For my car and my home</option>
                </select>
            </div>

            <div class="row">
                <div class="col">House Number
                  <input type="text" class="form-control" name="house" id="house">
                </div>
                <div class="col">Street
                  <input type="text" class="form-control" name="street" id="street">
                </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="city">City</label>
                <input type="text" class="form-control" name="city" id="city">
              </div>
              <div class="form-group col-md-4">
                <label for="cState">State</label>
                <input type="text" class="form-control" name="state" id="state">
              </div>
              <div class="form-group col-md-2">
                <label for="zipcode">Zip</label>
                <input type="text" class="form-control" name="zipcode" id="zipcode">
              </div>
            </div>

            <button id="btnSave" class="btn btn-lg btn-primary btn-block" type="button">Save</button>

            <h1><div id="result"></div></h1>

        </form>

    </body>

{% endblock %}
