{% extends "base.html" %}
{% block page_title %} We Do Secure Insurance {% endblock %}

{% block content %}
    <p> Welcome to your homepage!</p>

    <p> Currently signed in as: {{session.user}} </p>

    <p> <a href="/product">Browse and buy</a> insurances.</p>



    <p> My information: <br> {{ user_info }} </p>
    <p> Wrong? <a href="/userInfo"> Update </a> my information.</p>

    <p> My insurances: </p>
    {% for ins in user_insurance %}
        <p> {{ ins }} </p>
    {% endfor %}
    <p> Wrong? Ask WDS staff to edit your insurance records. </p>
    <p>
        <a href="/showInvoice">Retrieve</a> invoices and pay for my invoices.
    </p>


    <p> You can <a href="/logout">log out</a> from here. </p>


{% endblock %}
